body
{
    background-color: #2D1E2F;
    text-align: center;
    margin: auto;
    
}
h1{
color: #DD6031;
padding-top: 10pt;
font-style: italic;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}


/* BUTTONS################ */
button{
   color: #2B303A;
   padding: 5pt;
   border-style: groove;
   border-radius:50pt;
   border-width: 2pt;
   font-weight: bold;
   font-family: cursive;
   background-color: #6D9F71;
}

button.adding2{
    color: #2B303A;
    padding: 5pt;
    border-style: groove;
    border-radius:50pt;
    border-width: 2pt;
    font-weight: bold;
    font-family: cursive;
    background-color: hsl(0, 87%, 51%);
 }
 button.adding3{
    color: #2B303A;
    padding: 5pt;
    border-style: groove;
    border-radius:50pt;
    border-width: 2pt;
    font-weight: bold;
    font-family: cursive;
    background-color: hsl(61, 87%, 55%);
 }
/* YABLE ############################################ */
 table {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
}
td {
    border: 2pt solid #ADA0A6;
    padding: 3pt;
    text-align: center;
 }
 th {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #6153CC;
    border: 2pt solid black;
    padding: 10pt;
 }

 thead {
    border: 4pt solid  black;
 }

 table.center {
    margin-left:auto; 
    margin-right:auto;
  }
tr {
    background-color: #FFC145;
    
}
  tr:nth-child(even){
      background-color:#47A8BD;
  }

  tr:hover {
      background-color:#F64740;
      color: white;
  }
  input {
      background-color: rgb(207, 236, 78);
      font-weight: bolder;
      font-style: normal;
  }

  /* FOOTER########## */
  footer {
    color: #DD6031;
}
 